@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply flex gap-2 px-4 py-2 items-center rounded-3xl duration-500 -translate-x-4 ease-in-out whitespace-nowrap
}

  .-skew-y-5 {
    --tw-skew-y: -5deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  .skew-y-5 {
    --tw-skew-y: 5deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
  .-skew-y-9 {
    --tw-skew-y: -5deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.grid-rows-9 {
  grid-template-rows: repeat(9, minmax(100px, 1fr));
}